<!-- This partial used like a function to havest info for schedule entry, include.plink is permalink ref  -->

<!-- look up by permalink if possible -->
{% if include.plink != null %}
{% assign front_matter = all_pages | where:"permalink",include.plink | first %}
{% unless front_matter %} ERROR! No such permalink/path {{ include.plink }} {% endunless %}

<B>{{ front_matter.title }}</B>

{% assign resource_path = front_matter.path | split:'/' | pop | join:'/' %}
{% assign criteria = "file.path contains '" | append: resource_path | append: "'" %}
{% assign other_files = site.static_files | where_exp:"file",criteria  %}

{% capture output %}
{% assign found = other_files | where:"name","slides.pdf" | first %}
{% if found %} <a href="{{found.path}}">slides</a> 
{% elsif front_matter.permalink %} <a href="{{front_matter.permalink}}">writeup</a> 
{% endif %}
{% assign found = other_files | where_exp:"file","file.path contains '/code/'" | first %}
{% assign code_path = "https://github.com/cs107e/cs107e.github.io/tree/master/" | append: resource_path | append: "/code/" %}
{% if found %} <a href="{{code_path}}">code</a> {% endif %}
{% endcapture %}

{% assign cleaned = output | newline_to_br | strip_newlines | split: "<br />" | where_exp:"l", "l contains 'href'" | join: ',' %}
{{ '(' | append: cleaned | append: ')' }}

<div style="font-size: 80%; margin: 1em;"> {{ front_matter.readings || markdownify }} </div>
{% endif %}

